@charset "utf-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: consolas;

}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black; 
}

.scan{
  position: relative;
  display: flex;

}

.scan .qrcode{
  position: relative;
  width: 400px;
  height: 400px;

}